.d1{
    width: 200px;
    height: 200px;
    background-color: blue;
    transition: 2s;

}
@media screen and (max-width:800px){
    .d1{
        transform: rotate(45deg);
        background-color: red;
    }
}
    @media screen and (max-width:600px){
        .d1{
            transform: rotate(90deg);
            background-color: black;
        }
    }
        
    .main{
        width: 400px;
        height: 400px;

    }
    .d2{
        width: 200px;
        height: 400px;
        background-color: aqua;
        float: left;
    }
    
    .d3{
        width: 200px;
        height: 400px;
        background-color:darkblue;
        float: left;
    }
    @media screen and (max-width:400px){
        .main{
            width: 300px;
        }
        .d2{
            display: block;
            width: 300px;
            height: 200px;
        }
        .d3{
            display: block;
            width: 300px;
            height: 200px;
        }
    }
        .container{
            width: 400px;
            height: 600px;
            background-color: aquamarine;
        }
        .menu{
            width: 400px;
            height: 100px;
            background-color: blueviolet;
        }
        .article{
            width: 400px;
            height: 400px;
        }
    .footer{
        width: 400px;
        height: 100px;
        background-color: violet;
    }
    .ar1{
        width: 200px;
        height: 400px;
        background-color: red;
        float: left;
    }
    .ar2{
        width: 200px;
        height: 400px;
        background-color: black;
        float: left;
    }
    @media screen and (max-width:400px){
        .container{
            width: 300px;
            height: 450px;
        }
        .menu{
            width: 300px;
            height: 75px;
           
        }
        .article{
            width: 300px;
            height: 300px;

        }
        .footer{
            width: 300px;
            height: 75px;
          
        }
        .ar1{
            width: 300px;
            height: 150px;
            display: block;
        
        }
        .ar2{
            width: 300px;
            height: 150px;
            display: block;
            
        } 
    }
        
    