.h1{
    width: 1000px;
    text-align: center;
}
.d1{
    width: 1000px;
    height: 600px;
    
}
.d212{
width: 500px;
height: 500px;
}
.d1111{
    width: 500px;
    height: 600px;
    float: left;
}