body{
    font-family: sans-serif;
}
.Main{
    width: 700px;
    height: 700px;
    background-color: aqua;
}
.awss{
    width: 700px;
    height: 340px;
    background-color: black;
    margin-bottom: 20PX;
}
.aws{
    width: 700px;
    height: 340px;
    background-color: blueviolet;
}
.d1{
    width: 340px;
    height: 340px;
    background-color: chocolate;
    float: left;
    margin-right: 20px;
}
.d2{
    width: 340px;
    height: 340px;
    background-color: aquamarine;
    float: left;
}
.d098{
    width: 200px;
    height: 150px;
    display: block;
    margin: 15px auto;
}
.fd3{
    text-align: center;
}
.o12{
    margin: 0px 30px;
}