.d09{
    width: 400px;
    height: 700px;
    background-color: aqua;
    float: left;
    margin-right: 30px;
}
.d124{
    width: 400px;
    height: 700px;
    background-color:red;
    float: left;
    margin-bottom: 50px;
}
.po{
    width: 400px;
    height: 345px;
    background-color: aqua;
    margin-bottom: 10px;
}
.jo{
    width: 400px;
    height: 345px;
    background-color:green;
    margin-top: 10px;
    
}
.h12{
    width: 830px;
    height: 200px;
    background-color: black;
    clear: left;
    
}